#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<!DOCTYPE HTML>
<!--  rename to description.html or otherwise the default Qanary description.html is used, c.f., https://github.com/WDAqua/Qanary/blob/master/qanary_component-template/src/main/resources/templates/description.html  -->
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>${classname}: Qanary Service Status page</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>${classname}</h1>
    <p th:text="'Hello World, this is my first Qanary service!'" />
    <!-- 
	make a statement about the purpose of your component here
    //-->
</body>
</html>
