<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Qanary Helper: Start question answering with the given values</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Start a QA process</h1>
	<ul>
		<li>select an available question</li>
		<li>select components to be executed</li>
	</ul>
	<form action="/questionanswering" method="POST">
		<input type="text" name="question" id="question" />
		<input type="submit" name="submit" id="submit" value="add question" /> 		
	</form>
</body>
</html>
