<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Qanary Helper: Start question answering with an existing question URI</title> 
 	<div th:replace="header"></div>        

</head>
<body>
        <header>
                
        </header>
        <h1>Create new URI for a textual question</h1>
        <form action="/question" method="POST">
                <div>
                        Please insert a textual question: <input type="text" name="question" id="question" title="Example: What is Batman's real name?" />
                </div>
                <button id="submit">add question &#xf055;</button>               
        </form>

 		<div th:replace="footer"></div>        
</body>
</html>