<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>WDAqua core-0</title> 
 	<meta th:replace="lib/qa_header"/>        
</head>
<body>
	<div class="container">
		<div class="inner-container">
			<img id="logo-img" src="https://raw.githubusercontent.com/WDAqua/Qanary/master/doc/WDAquaLogo2.png" alt="Smiley face" />
	        <form action="/qa" method="POST">
	        	<div id="text-question">
	        		<div class="space">
			        	<input type="text" name="question" id="question" placeholder="Enter your question ... "/>
		        	</div>
		        	<div class="space">
	                	<button id="submit">Go </button>
	                </div>  
	            </div>             
	        </form>
	     </div>
	</div>    
</body>
</html>
