name: Execute tests for pull requests

on:
  pull_request:

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v5
        with: # The environment variables are defined when needed (here, when the package is being published)
          distribution: 'temurin'
          java-version: '17'

      - name: Build artifacts # To resolve internal, not yet published new versions
        run: mvn clean install -Dgpg.skip -DskipTests -Ddockerfile.skip

      - name: Execute tests
        run: mvn test

